@charset "UTF-8";

main .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

main .container .card {
    padding: 20px;
    border: 2px solid #0D9E9E;
    border-radius: 0 20px;
}

main .container .card > p {
    margin-bottom: 20px;
}

main .container .card .image-example {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main .container .card .image-example figure {
    max-width: 50px;
}

main .container .card .image-example figure img {
    width: 100%;
}

main .container .card .image-example p span {
    display: block;
}

main .container .card .image-example p span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

main a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
}

main a:hover {
    text-decoration: underline;
}