
form{
    position: absolute;
    left: 45em;
    top: 15em;
    width: 25em;
    border-radius: 10px;
    height: 30em;
    padding: 35px;
    background-color: aqua;
}
input,button{

    display: block;
}
button{
    position: absolute;
    top: 35em;
    height: 70px;
    width: 28em;
    left: 3.5em;
    transition: border-radius 0.1s ease-in ;
    background-color: royalblue;
}
h1{
    text-align: center;
}
input{
    margin-top: 40px;
    width: 30em;
    height: 40px;
    border-radius: 1em;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
}
input[type='date']{
    width: 10em;
}
button:hover{
    border-radius: 10px;
    border: 2px solid darkcyan;
}