@charset "UTF-8";

:root {
    --white1: #cecece;
    --blue1: #0A2833;
    --blue2: #29ABE2;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../images/shipcargo.jpg');
    background-size: cover;
    background-position: center center;
}

.title-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-header img{
    width: 100px;
}

header div:last-child h1 {
    padding-block: 300px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul a {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color .5s ease, box-shadow .5s ease;
}

ul a:hover {
    background-color: var(--blue1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.search {
    background-color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 2px;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    transition: background-color .5s ease;
}

.search:focus {
    background-color: #daebf3;
}