#service{
    text-align: center;
    position: relative;
    top: 3em;
    z-index: 1;
    color: white;
}
#lide{
    text-align: center;
    position: relative;
    top: 5em;
    z-index: 1;
    color: white;
}
main{
    position: relative;
    top: 1em;
    height: 190em;
}

main #grid-service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    width: 116em;
    height: 90em;
    column-gap: 50px; 
    padding-left: 200px;
    background: url(../images/pexels-klaus-44936-167676.jpg);
    background-size: 100em 80em;
    background-size:cover;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);  
}
main article div{
    text-align: left;
    position: relative;
    top: 9em;
    color: white;
    width: 320px;
    height: 400px;
    background-color:transparent;
    backdrop-filter: brightness(0.4);
    border-radius: 5px;
    padding-top: 20px;
    box-shadow: 3px 3px 3px  lightslategray;
    border: 1px solid black;
    transition: transform 0.2s ease-in;
    padding-left: 10px;
}
div p{
    width: 290px;
    height:200px ;
    padding-top:40px ;
}
div:hover {
    transform: translate(-3px,-2px);

}
#Center-Information{
    width: 10.9em;
    font-size: 4em;
    margin: auto;
    margin-top: 2em;
}
#lide-information{
    width: 50em;
    text-align: center;
    margin: auto;
    margin-bottom: 5em;
}
#info-group{
    height: 50em;
    width: 50em;
    margin: auto;
    text-align: left;
    font-size: 1.1em; 
    padding-top: 2em;   
}
#info-group h3{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
