@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
}

button {
    width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: box-shadow .3s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}
