@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#input-name {
    border: 1px solid black;
}

#add-name {
    padding: .2rem .4rem;
}

#list-names {
    margin-left: 1.5rem;
}
