@charset "UTF-8";

:root {
    --font: Arial, Helvetica, sans-serif;
    --back-color: #111022;
    --back-highlight: #E4F2FF;
    --font-color: #F5F8FD;
    --shadow: rgba(0, 0, 0, .5);
    --blue-1: #2759B6;
    --blue-1-highlight: #3D73D6;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background: url("images/background.jpg") center top / cover no-repeat var(--back-color);
    height: 100dvh;
    display: flex; /* Organizar a página em 3 linhas */
    flex-direction: column;
}

header {
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background-color: var(--back-color);
    box-shadow: 0 0 5px 2px var(--shadow);
}

header figure img {
    height: 3rem;
}

header button {
    color: var(--font-color);
    font-size: 1.3rem;
    background-color: var(--blue-1);
    padding: .5rem 1rem;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 0 5px var(--shadow);
    transition: background-color .5s ease, box-shadow .5s ease;
    cursor: pointer;
}

header button:hover {
    background-color: var(--blue-1-highlight);
    box-shadow: 0 0 5px 2px var(--shadow);
}

main {
    color: var(--font-color);
    max-width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: auto; /* "Ocupar" todo o espaço entre o header e o footer e centralizar horizontalmente e verticalmente */
    backdrop-filter: blur(30px); /* Dá um "blur" na imagem do fundo */
    box-shadow: 0 0 5px var(--shadow);
}

main h2 {
    text-align: center;
    margin-bottom: 1rem;
}

main form :where(input, select) {
    width: 100%;
    font-size: 1rem;
    padding: .3rem;
    border: 0;
    border-radius: .3rem;
    outline: 0;
    box-shadow: 0 0 5px var(--shadow);
    transition: background-color .5s ease;
}

main form :where(input, select):focus {
    background-color: var(--back-highlight);
}

main form input::-webkit-outer-spin-button, main input::-webkit-inner-spin-button { /* Tirar as "setas" do input:number */
    -webkit-appearance: none;
    margin: 0;
}

main form input[type=number] { /* Tirar as "setas" do input:number */
    appearance: textfield;
}

main form :where(input, label, select) {
    display: block;
}

main form label + :where(input, select) {
    margin-top: .15rem;
}

main form :where(input, select) + label {
    margin-top: .75rem;
}

main form button {
    color: var(--font-color);
    font-size: 1rem;
    padding: .5rem .6rem;
    border: 0;
    border-radius: .2rem;
    margin-top: 1rem;
    background-color: var(--blue-1);
    box-shadow: 0 0 5px var(--shadow);
    transition: background-color .5s ease, box-shadow .5s ease;
    cursor: pointer;
}

main form button:hover {
    background-color: var(--blue-1-highlight);
    box-shadow: 0 0 5px 2px var(--shadow);
}

footer p {
    color: var(--font-color);
    text-align: center;
    padding-block: .5rem;
    background-color: var(--blue-1);
    box-shadow: 0 0 5px var(--shadow);
}
